[Desktop Entry]
Categories=System;Filesystem;KDE;Qt;
Comment[pt_BR]=
Comment=
Exec=/usr/bin/quickusbformatter
GenericName[pt_BR]=USB Aygıtını Formatla
GenericName=USB Aygıtını Formatla
Icon=drive-removable-media-usb
MimeType=
Name[pt_BR]=USB Aygıtını Formatla
Name=USB Aygıtını Formatla
Name[ca]=USB Aygıtını Formatla
Name[es]=USB Aygıtını Formatla
Name[fr]=Formater USB
Name[gl]=Formatar
Name[sr@ijekavian]=Форматирај УСБ диск
Name[sr@ijekavianlatin]=Formatiraj USB disk
Name[sr@latin]=USB Aygıtını Formatla
Name[sr]=Форматирај УСБ диск
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
